<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>브이월드 WMTS 배경지도 사용하기 오픈레이어스 3버전 이상</title>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.5.0/build/ol.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/6.5.0/turf.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

<style>
    .main-container {
        display: flex;
    }

    .left-section, .right-section {
        padding: 10px;
    }

    .left-section {
        flex: 1; /* occupies 1/3 of the space */
    }

    .right-section {
        flex: 2; /* occupies 2/3 of the space */
        background-color: #f0f0f0; /* optional: just to differentiate between left and right sections */
    }
</style>
</head>

<body>
    <div class="main-container">
        <div class="left-section">
            <button id="map_1" style="width:100px;height:50px;">MapType 1</button>
            <button id="map_2" style="width:100px;height:50px;">MapType 2</button>
            <br><br>
            <button id="dataset1" style="width:100px;height:50px;">DataSet1</button>
            <button id="dataset2" style="width:100px;height:50px;">DataSet2</button>
            <br><br>
        </div>
        <div class="right-section">
            <div id="map" style="width: 100%; height: 730px; left: 0px; top: 0px"></div>
        </div>
    </div>
    <div id="marker" style="width: 20px; height: 20px; background-color: red;"></div>
<script type="text/javascript">

    var vectorSource = new ol.source.Vector();
    var finalSource = new ol.source.Vector();
    var finalNewSource = new ol.source.Vector();
    var NewSource = new ol.source.Vector();
    var finalLineSource = new ol.source.Vector();

    // 지도 위에 도로 벡터 저장소
    var vectorLayer = new ol.layer.Vector({
        source: vectorSource,
        style : new ol.style.Style({
          stroke: new ol.style.Stroke({
                  color: 'blue',
                  width: 5
              })
          })
      });
      var finalLayer = new ol.layer.Vector({
        source: finalSource,
        style : new ol.style.Style({
          stroke: new ol.style.Stroke({
                  color: 'red',
                  width: 10
              })
          })
      });
      var finalNewLayer = new ol.layer.Vector({
        source: finalNewSource,
        style : new ol.style.Style({
          stroke: new ol.style.Stroke({
                  color: 'red',
                  width: 10
              })
          })
      });
      var NewLayer = new ol.layer.Vector({
        source: NewSource,
        style : new ol.style.Style({
          stroke: new ol.style.Stroke({
                  color: 'red',
                  width: 10
              })
          })
      });
      var finalLineLayer = new ol.layer.Vector({
          source: finalLineSource,
          style : new ol.style.Style({
            stroke: new ol.style.Stroke({
                    color: 'green',
                    width: 30
                })
            })
        });

    var Base = new ol.layer.Tile({
        name : "Base",
        source: new ol.source.XYZ({
            url: 'http://api.vworld.kr/req/wmts/1.0.0/F6342F62-1FE6-3AE7-A404-6B9E0583385C/Base/{z}/{y}/{x}.png'
        })
    }); // WMTS API 사용
    var olView = new ol.View({
        center: [14141717.242680727, 4509815.091367054],//좌표계 변환
        zoom: 13
    })// 뷰 설정
    var map = new ol.Map({
        layers: [Base,vectorLayer, finalLayer , finalNewLayer , NewLayer , finalLineLayer],
        target: 'map',
        view: olView
    });

    // 지도의 'moveend' 이벤트를 사용하여 지도가 움직일 때마다 extent를 업데이트
    map.on('moveend', function() {
        var currentExtent = map.getView().calculateExtent(map.getSize());
        vectorLayer.setExtent(currentExtent);
    });

    /*
    var wms_title = '연속지적도';
    var wms_val = 'lp_pa_cbnd_bubun';
 
    var wms_tile = new ol.layer.Tile({
        name : "WMS_LAYER",
        source : new ol.source.TileWMS({
            url : "http://api.vworld.kr/req/wms?",
            params : {
                LAYERS : wms_val,
                STYLES : wms_val,
                CRS : "EPSG:900913",
                apikey : "F6342F62-1FE6-3AE7-A404-6B9E0583385C",
                DOMAIN : "http://loacalhost:4444",
                title : wms_title,
                FORMAT : "image/png",
                domain : "http://localhost"
            }
        })
    });
    map.addLayer(wms_tile);
    */
    
    $.ajax({
        type: "GET",
        url: "{{ url_for('static', filename='level_13.geojson') }}",
        dataType: 'json',
        success: function(response){
          var format = new ol.format.GeoJSON();
          var features = format.readFeatures(response, {
            dataProjection: 'EPSG:4326',
            featureProjection: 'EPSG:3857'
          });
        // 지도 위에 도로 벡터 저장소
          vectorSource.addFeatures(features);
        }
    });
    $("#dataset1").click(function() {
    $.ajax({
        type: "POST",
        url: '/dataset1',
        data: {},
        success: function(response) {
            dataset(response.coordinates,response.car_cnt);
        },
        error: function(error) {
            console.error('Error loading dataset:', error);
        }
    });
});

var finalLineStyle = new ol.style.Style({
    stroke: new ol.style.Stroke({
        color: 'green',
        width: 10
    })
});

var first_flag = [] ;
var preCoord = [];
var newSegments = []; 
var newPoint = []; 
var lineFeatures = []; // 개별 라인 객체를 저장할 배열

var marker = [];

function dataset(coordinate,car_cnt) {
    var currentIndex = 0;
    console.log(car_cnt[0]['cnt']);
    coordinate.forEach(function(item){
        if(!marker[item.car_id]){
            var marker_content= document.createElement("div"); // 오버레이 팝업설정 
            marker_content.innerHTML+="<div id='truck' style='margin-top:-30px; margin-left: -30px;' class=''>\n\
            <img style='-webkit-user-drag: none; width:52px !important; height:52px !important;' src='{{ url_for('static', filename='truck.png') }}'/></div>";

            marker[item.car_id] = new ol.Overlay({
                id:item.car_id,
                element:marker_content,
                stopEvent : false,
                position: [item.x_point , item.y_point],
                dragging: true
            });
            map.addOverlay(marker[item.car_id]);	
        }

        setTimeout(function() {
            var car_id = item.car_id;
            var xy_date = item.xydate;
            var center = [item.x_point , item.y_point]
            getPoint(center,car_id);
            currentIndex++;  // 다음 인덱스로 이동
        }, 100);
    });
};

function getPoint(center,car_id){
    var featuresInExtent = vectorSource.getFeaturesInExtent(map.getView().calculateExtent(map.getSize()));
    // 라인 스타일 지정
    lineFeatures[car_id] = [];
    newPoint[car_id] = [];
    
    featuresInExtent.forEach(function(feature) {
        var coordinates = feature.getGeometry().getFlatCoordinates();
        for (var i = 0; i < coordinates.length - 1; i += 2) {
            var lineCoordinates = [coordinates[i], coordinates[i + 1]];
            var lineCoordinates2 = [coordinates[i+2], coordinates[i + 3]];
            var lineGeom = new ol.geom.LineString([lineCoordinates , lineCoordinates2]);
            var lineFeature = new ol.Feature({
                geometry: lineGeom
            });
            lineFeatures[car_id].push(lineFeature);
        }
    });
    var nearestLine = findNearestLineFeature(center,car_id);
    if (nearestLine) {
        var footPoint = getfootPoint(nearestLine,center);

        if(marker[car_id]){
            marker[car_id].setPosition(footPoint);
        }

        console.log(first_flag[car_id]);
        if(first_flag[car_id]){
            var lineGeom = new ol.geom.LineString([preCoord[car_id] , footPoint]);
            var lineFeature = new ol.Feature({
                geometry: lineGeom
            });
            
            splitLineStringByDistance(lineFeature, 10, car_id);

            //// ###############################  라인간의 선을 n빵 시키는 로직
            newSegments[car_id].forEach(function(feature) {
                if(feature.length > 1){
                    return true;
                }
                var center = getMidpointOfLine(feature);
                var nearestLine = findNearestLineFeature(center, car_id);
                if (nearestLine) {
                    newPoint[car_id].push(getfootPoint(nearestLine,center));
                }
            });
            //// ###############################  라인간의 선을 n빵 시키는 로직

            //// ###############################   맨 앞 점과 잘라진 점을 이어붙인다.
            var lineGeom = new ol.geom.LineString([preCoord[car_id] , newPoint[car_id][0]]);
            preCoord[car_id] = footPoint;
            var lineGeom2 = new ol.geom.LineString([preCoord[car_id] , newPoint[car_id][newPoint[car_id].length-1]]);

            var lineFeature = new ol.Feature({
                geometry: lineGeom
            });
            var lineFeature2 = new ol.Feature({
                geometry: lineGeom2
            });
            lineFeature.setStyle(finalLineStyle);  // 스타일 적용
            lineFeature2.setStyle(finalLineStyle);  // 스타일 적용
            finalLineSource.addFeature(lineFeature);
            finalLineSource.addFeature(lineFeature2);
            //// ###############################   맨 끝 점과 잘라진 점을 이어붙인다.


            //// ###############################   새로 도로 위 매칭된 수선의 발들을 모두 이어붙인다.
            for (var i = 0; i < newPoint[car_id].length - 1; i++) {
                var lineCoordinates = newPoint[car_id][i];
                var lineCoordinates2 = newPoint[car_id][i+1];
                var lineGeom = new ol.geom.LineString([lineCoordinates , lineCoordinates2]);
                var lineFeature = new ol.Feature({
                    geometry: lineGeom
                });
                lineFeature.setStyle(finalLineStyle);  // 스타일 적용
                finalLineSource.addFeature(lineFeature);
            }
            //// ###############################   새로 도로 위 매칭된 수선의 발들을 모두 이어붙인다.
        }else{
            preCoord[car_id] = footPoint;
            first_flag[car_id] = true
        }

    }

};

function getDistance(point1, point2) {
    let dx = point2[0] - point1[0];
    let dy = point2[1] - point1[1];
    
    return Math.sqrt(dx * dx + dy * dy);
}

function getMidpointOfLine(lineString) {
    const coordinates = lineString.getGeometry().getCoordinates();
    const start = coordinates[0];
    const end = coordinates[coordinates.length - 1];

    const midX = (start[0] + end[0]) / 2;
    const midY = (start[1] + end[1]) / 2;

    return [midX, midY];
}

function splitLineStringByDistance(lineString, distance , car_id) {
    const coordinates = lineString.getGeometry().getCoordinates();
    newSegments[car_id] = [];
  
    for (let i = 0; i < coordinates.length - 1; i++) {
      let start = coordinates[i];
      let end = coordinates[i + 1];
  
      let segmentLength = getDistance(start, end);
      if (segmentLength <= distance) {
        newSegments[car_id].push([start, end]);
      } else {
        let numOfSubSegments = Math.ceil(segmentLength / distance);
        let fraction = 1 / numOfSubSegments;
  
        for (let j = 0; j < numOfSubSegments; j++) {
          let newStart = lineString.getGeometry().getCoordinateAt(j * fraction);
          let newEnd = lineString.getGeometry().getCoordinateAt((j + 1) * fraction);
  
          var lineGeom = new ol.geom.LineString([newStart , newEnd]);
          var lineFeature = new ol.Feature({
              geometry: lineGeom
          });
  
          newSegments[car_id].push(lineFeature);
        }
        
      }
    }
  
  };  

function getfootPoint(line,center){
    var lineCoordinates = line.getGeometry().getCoordinates();
    var minDistance = Infinity;
    var footPoint = null;
    for (var i = 0; i < lineCoordinates.length - 1; i++) {
        var segmentStart = lineCoordinates[i];
        var segmentEnd = lineCoordinates[i + 1];
        var foot = footOfPerpendicular(center, segmentStart, segmentEnd);
        var dist = getDistance(center, foot);
        if (dist < minDistance) {
            minDistance = dist;
            footPoint = foot;
        }
    }
    if (footPoint) {
        var pointFeature = new ol.Feature(new ol.geom.Point(footPoint));
        var pointStyle = new ol.style.Style({
            image: new ol.style.Circle({
                radius: 5,
                fill: new ol.style.Fill({
                    color: 'pink'
                })
            })
        });
        pointFeature.setStyle(pointStyle);

        NewSource.addFeature(pointFeature);
    }
    return footPoint;
}

function footOfPerpendicular(point, segmentStart, segmentEnd) {
    var v = [segmentEnd[0] - segmentStart[0], segmentEnd[1] - segmentStart[1]];
    var w = [point[0] - segmentStart[0], point[1] - segmentStart[1]];
    
    var c1 = w[0]*v[0] + w[1]*v[1];
    
    if (c1 <= 0) return segmentStart;
    
    var c2 = v[0]*v[0] + v[1]*v[1];
    
    if (c2 <= c1) return segmentEnd;
    
    var b = c1 / c2;
    return [segmentStart[0] + b * v[0], segmentStart[1] + b * v[1]];
}

function pointToSegmentDistance(point, segmentStart, segmentEnd) {
    var v = [segmentEnd[0] - segmentStart[0], segmentEnd[1] - segmentStart[1]];
    var w = [point[0] - segmentStart[0], point[1] - segmentStart[1]];
    
    var c1 = w[0]*v[0] + w[1]*v[1];
    if (c1 <= 0) return getDistance(point, segmentStart);
    
    var c2 = v[0]*v[0] + v[1]*v[1];
    if (c2 <= c1) return getDistance(point, segmentEnd);
    
    var b = c1 / c2;
    var projection = [segmentStart[0] + b * v[0], segmentStart[1] + b * v[1]];
    
    return getDistance(point, projection);
}

function pointToLineDistance(point, lineCoordinates) {
    var minDistance = Infinity;
    for (var i = 0; i < lineCoordinates.length - 1; i++) {
        var segmentStart = lineCoordinates[i];
        var segmentEnd = lineCoordinates[i + 1];
        var dist = pointToSegmentDistance(point, segmentStart, segmentEnd);
        if (dist < minDistance) {
            minDistance = dist;
        }
    }
    return minDistance;
}

function findNearestLineFeature(point,car_id) {
    var minDistance = Infinity;
    var nearestLine = null;
    
    for (var i = 0; i < lineFeatures[car_id].length; i++) {
        var lineFeature = lineFeatures[car_id][i];
        var lineCoordinates = lineFeature.getGeometry().getCoordinates();
        var dist = pointToLineDistance(point, lineCoordinates);
        if (dist < minDistance) {
            minDistance = dist;
            nearestLine = lineFeature;
        }
    }
    return nearestLine;
}

</script>
</body>
</html>